<!-- Registration Section -->
    <section id="abstracts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Abstract Submission</h2>
                </div>
            </div>

             <div class="register">

                To submit an abstract for a poster or oral presentation, download the Abstract Template from the <a href="https://shop.monash.edu/embl-australia-phd-symposium-registration.html">Monash.Shop registration site</a> when you register. 
                <h3 class="text-align-left service-heading">Poster presentations</h3>
                <ul>
                  <li>All posters must be in portrait format, A0 size</li>
                  <li>Applicants will be notified if their abstract is successful on Monday 15 October</li>
                  <li>Selected successful poster abstracts will be asked to present their poster in the form of a “lightning talk” before their poster session</li>
                </ul>
                <h3 class="text-align-left service-heading">Oral presentations</h3>
                <ul>
                  <li>All presentations are limited to an 8 min talk with 2 min question time</li>
                  <li>Slide presentations will need to be given to an EAPS committee member at the conference</li>
                  <li>Applicants will be notified if their abstract is successful on Monday 1<sup>st</sup> October</li>
                </ul>
                 <h3 class="text-align-left service-heading">Lightning talks</h3>
                <ul>
                  <li>Selected successful poster abstracts will be asked to present their poster in the form of a “lightning talk” before their poster session</li>
                  <li>All presentations are limited to a 2 min talk with no question time</li>
                  <li>A single, static slide is permitted; this will need to be given to an EAPS committee member at the conference</li>
                </ul>
              </div>
          
            </div>
         </div>
        </div>
    </section>
