<!-- Team Section -->
    <section id="biographies" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speakers</h2>
                    <h3 class="section-subheading text-muted">This page will contain biographies for the invited speakers at EAPS18.</h3>
                </div>
            </div>
				<div class="team-member">
					<h4>Professor Ian Frazer</h4>
					<p class="text-muted">Keynote Speaker</p>
				</div>

            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member"  id="{{ member.id }}">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.theme }} Speaker</p>
                        <p>{{ member.bio }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
