<!-- Portfolio Grid Section -->
<section id="competition" class="competition_bg">
        <div class="container">
            <div class="font-weight-normal text-center">
                <h2 class="section-heading comp_heading">SciArt Competition</h2>
				<br>
            </div>
            <div class="comp_text ">     

                This year, EAPS will be featuring a <i>Science Meets Arts</i> Competition! We invite Honours, Masters & PhD candidates to submit an image that captures both the science and art behind their work. 
                </br> </br> 
                Science and art are increasingly being drawn together - with artists in residence at various institutions, graphics and games being used at teaching materials, and various exhibitions influenced by science, it is clear that art is an effective way of informing and engaging the community in scientific research. We aim to celebrate the artists inside you and encourage you to get creative. Think about how your research could be displayed in an artistic way and submit an image for the chance to see your work displayed and win prizes!
                </br> </br> 
                <h4>What is involved?</h4>
                We are calling on registrants to submit a picture (photo, microscopy image, creative displays of data, etc.) to show the translational value of their area of research. The winner and runner-up will receive prizes and have their artwork displayed at EAPS 2018. 
                </br> </br> 
                <h4>How can I apply?</h4>
                Submissions must be made via the <a href='https://drive.google.com/open?id=1MmrXI5gUsvkFfgLlAzGYy7nLomCWWOIDdhUkpQDIEKM'><i>SciArt Competition</i> link</a> by Friday 26<sup>th</sup> of October. Participants must submit <b>one image</b> in <b>pdf</b> form for standard printable sizes (A1, B1, A0) with a <b>maximum file size of 10MB</b>. Please note that only applicants who have <b>registered</b> for EAPS 2018 will have their submissions accepted. 
                </br> </br> 
                <h4>Who can I contact if I have further questions?</h4>
                Contact Name: Jasmina Markulic
                </br>
                Contact Email: <a href='mailto:committee.phdsymposium@emblaustralia.org'>committee.phdsymposium@emblaustralia.org</a>
                </br> </br> 
                <i>
                    Image credit:</br>
                    Jasmina Markulic</br>
                    University of Melbourne</br>
                    Biological Optical Microscopy Platform</br>
                </i>
            </div>
         </div>

                
        </div>
    </section>
