<!-- Registration Section -->
    <section id="faq" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
					<h3 class="section-subheading text-muted">Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="register">

              <div class="text-center">
            
           </div>                  
                <h3>Registration</h3></br>
                <h4>How do I register for EAPS18?</h4>
                Registration for EAPS18 can be found <a href='/register'>here</a>. Please note that the information provided in your registration form will appear on your name badge, receipt, abstract book, certificate of participation etc as you insert it. Please make sure to use a valid e-mail address as this will be our primary form of contact.
                </br> </br> 
                <h4>Receiving a registration confirmation email</h4>
                You should receive a registration confirmation email following registration with the Monash.Shop website. If you do not receive one, please contact us.
                </br> </br> 
                <h4>What should I do if I want to cancel my registration?</h4>
                If you can no longer take part in the Symposium, please inform us at the earliest convenience. Cancellation must be submitted in writing via email and is valid only with acknowledgement of receipt by the EAPS Committee.

                Cancellation fees are dependent on the notice given:
                <ul>
                <li>If cancellation occurs less than 4 weeks prior to the start of the event, the cancellation fee is 100% of the registration fee.</li>
                <li>If cancellation occurs between 4 to 6 weeks prior to the start of the event, the cancellation fee is 50% of the registration fee.</li>
                <li>Earlier than 6 weeks, the cancellation fee is 25% of the registration fee.</li>
              </ul>

                Other circumstances may be taken into account at the discretion of the committee.

                </br> </br> 
                <h4>Can I still register for the Symposium if the registration deadline is over?</h4>
                Please contact us for further availability and information regarding registration past the deadline.

                </br></br><h3>Abstract Submission and Selection</h3></br>
                <h4>Do I need to submit an abstract to attend the Symposium?</h4>
                You can attend the Symposium without submitting an abstract, however we recommend participants take an active role in the Symposium and apply to give a talk or present a poster.
                </br> </br> 
                <h4>How do I submit an abstract?</h4>
                To submit an abstract for a poster or oral presentation, download the Abstract Template from the Monash.Shop registration site, when you register. 

                While submitting your abstract, you will be able to choose if you would like to apply for a talk and/or a poster presentation. However please note that if you are selected for a talk, you will not receive an allocated slot for a poster. 

                </br> </br> 
                <h4>How are abstracts selected?</h4>
                Submitted abstracts will be carefully evaluated by a panel of EMBL Australia associated PhD students working closely with the EAPS committee.

                </br> </br> 
                <h4>When will I be notified that I have received an offer to present a talk or poster?</h4>
                <ul>
                <li>Successful oral presenters will be notified on Monday 1<sup>st</sup> October</li>
                <li>Successful poster presenters will be notified on Monday 15<sup>th</sup> October</li>
              </ul>

              </br><h3>Travel Grants</h3></br>
                <h4>Are there travel grants available?</h4>
                Yes! If you wish to apply for a travel grant, download the Travel Grant Template from the Monash.Shop registration site, when you register.
            </div>
         </div>
        </div>

    </section>