<!-- About Section -->
    <section id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programme</h2>
                    <h3 class="section-subheading text-muted"><a href='/EAPS_2018-Programme_Overview.pdf'>Click here for the compact version</a></h3>
                                        <ul class="schedule timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Wednesday</h4>
                                    <h4 class="subheading">28th of November</h4>
                                </div>
                                <div class="timeline-body">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <div class="timeslot">14:00</div>
Registration</a>
      </h4>

    </div>
    <div id="collapse1" class="panel-collapse collapse">
		<div class="panel-body"><ul><i>Location: Auditorium entrance</i></ul></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <div class="timeslot">15:00</div>

        Welcome Address</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
		<ul>	
		<i>Location: Auditorium</i>
			<li><b>Jasmina Markulić</b> – EAPS 2018 Chair</li>
			<li><b>Prof. Josephine Forbes</b> – Professorial Research Fellow & Program Leader of the Chronic Disease Biology and Care Research, Mater Research, Brisbane AUS</li>
		</ul>
			<br>
			Sponsored by: Translational Research Institute
                        <a href="https://www.tri.edu.au/translational-research-institute-australia">
                            <img src="/img/logos/tri.png" class="img-responsive" alt="">
                        </a>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    <div class="timeslot">15:30</div>

        Keynote Address</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
		<ul>	
		<i>Location: Auditorium</i>
			<li><b>Prof. Ian Frazer</b> – Chair of the TRI Foundation Board & Program Leader of the Cancer Immunology Program at the University of Queensland Diamantina Institute, Brisbane AUS</li>
		</ul>
		<br>
		Sponsored by: QIMR Berghofer Medical Research Institute

	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <div class="timeslot">16:30</div>
Student Oral Presentations - Translational & Clinical</a>
      </h4>

    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
		<ul>
		<i>Location: Auditorium</i>
		</ul>
		<b>TBC</b>
	  </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
            <div class="timeslot">17:00</div>
Science & Society Panel</a>
      </h4>

    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul><i>Location: Auditorium</i></ul>
		  <b>TBC</b>
		  <br><br>
		  Sponsored by: Australian National University – Research School of Biology
                        <a href="http://www.anu.edu.au/">
                            <img src="/img/logos/anu.png" class="img-responsive" alt="">
                        </a>
	  </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
            <div class="timeslot">18:00</div>
Welcome Reception</a>
      </h4>

    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Atrium</i>
		  </ul>
		  <br>
		  Sponsored by: Macrogen
	  </div>
    </div>
  </div>



</div>                                 </div>

                            </div>

                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Thursday</h4>
                                    <h4 class="subheading">29th of November</h4>
                                </div>
                                <div class="timeline-body">
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse8">
            <div class="timeslot">9:00</div>
Plenary Address - Oncology</a>
      </h4>

    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li><b>Dr. Glenn Begley</b> - Chief Executive Officer of BioCurate Pty Ltd, Melbourne AUS</li>
		  </ul>
		  <br>
		  Sponsored by: Monash Biomedicine Discovery Institute
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse9">
                                    <div class="timeslot">10:00</div>

        Student Oral Presentations - Oncology</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">

		  <ul>
			  <i>Location: Auditorium</i>
		  </ul>
		  <b>TBC</b>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse10">
            <div class="timeslot">10:30</div>
Morning Tea</a>
      </h4>

    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Atrium</i>
		  </ul>
	  </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse11">
            <div class="timeslot">11:00</div>
Plenary Address - Neurobiology</a>
      </h4>

    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li><b>A/Prof. Cedric Bardy</b> - Senior Research Fellow & Group Leader of the Laboratory for Human Neurophysiology and Genetics, South Australian Health & Medical Research Institute, Adelaide AUS</li>
		  </ul>
		  <br>
		  Sponsored by: South Australian Health & Medical Research Institute
                        <a href="https://www.sahmri.org/">
                            <img src="/img/logos/SAHMRI.jpg" class="img-responsive" alt="">
                        </a>
	  </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse12">
            <div class="timeslot">12:00</div>
Student Oral Presentations - Neurobiology</a>
      </h4>

    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
		  </ul>
		  <b>TBC</b>
	  </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse13">
            <div class="timeslot">12:30</div>
Student Lightning Talks</a>
      </h4>

    </div>
    <div id="collapse13" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li>Session 1</li>
		  </ul>
		  <br>
		  Sponsored by: Commonwealth Serum Laboratories
                        <a href="https://www.csl.com/">
                            <img src="/img/logos/CSL.jpg" class="img-responsive" alt="">
                        </a>
	  </div>
  </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse14">
            <div class="timeslot">13:30</div>
Lunch & Student Poster Presentations</a>
      </h4>

    </div>
    <div id="collapse14" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Room 2003 + 2004</i>
			  <li>Poster Session A</li>
		  </ul>
	  </div>
    </div>
  </div>  
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse15">
            <div class="timeslot">15:00</div>
Plenary Address - Bioinformatics</a>
      </h4>

    </div>
    <div id="collapse15" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li><b>Dr. Kim-Anh Lê Cao</b> - NMHRC Career Development Fellow & Senior Lecturer, University of Melbourne, Melbourne AUS</li>
		  </ul>
		  <br>
		  Sponsored by: Charles Sturt University
	  </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse16">
            <div class="timeslot">16:00</div>
Student Oral Presentations – Bioinformatics</a>
      </h4>

    </div>
    <div id="collapse16" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
		  </ul>
		  <b>TBC</b>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse18">
            <div class="timeslot">18:30</div>
Symposium Dinner</a>
      </h4>

    </div>
    <div id="collapse18" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Rydges Hotel</i>
		  </ul>
		  <br>
		  Sponsored by: Australian Regenerative Medicine Institute
	  </div>
    </div>
  </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Friday</h4>
                                    <h4 class="subheading">30th of November</h4>
                                </div>
                                <div class="timeline-body">
                                    <div class="panel-group" id="accordion2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse19">
            <div class="timeslot">9:00</div>
Plenary Address - Ecology</a>
      </h4>

    </div>
    <div id="collapse19" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li><b>A/Prof. Tracy Ainsworth</b> - Scientia Fellow, University of New South Wales, Sydney AUS</li>
		  </ul>
		  <br>
		  Sponsored by: University of Sydney – Faculty of Science
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse20">
                                    <div class="timeslot">10:00</div>

        Student Oral Presentations - Ecology</a>
      </h4>
    </div>
    <div id="collapse20" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
		  </ul>
		  <b>TBC</b>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
            <div class="timeslot">10:30</div>
Morning Tea</a>
      </h4>

    </div>
    <div id="collapse21" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Atrium</i>
		  </ul>
	  </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse22">
            <div class="timeslot">11:00</div>
Plenary Address - Genetics & Cell Biology</a>
      </h4>

    </div>
    <div id="collapse22" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li><b>A/ Prof. Natalie Sims</b> - Deputy Director & Head of the Bone Cell Biology & Disease Unit, St Vincent’s Institute of Medical Research, Melbourne AUS</li>
		  </ul>
		  <br>
		  Sponsored by: St Vincent’s Institute of Medical Research

	  </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse23">
            <div class="timeslot">12:00</div>
Student Oral Presentations - Genetics & Cell Biology</a>
      </h4>

    </div>
    <div id="collapse23" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
		  </ul>
		  <b>TBC</b>
	  </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse24">
            <div class="timeslot">12:30</div>
Student Lightning Talks</a>
      </h4>

    </div>
    <div id="collapse24" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li>Session 2</li>
		  </ul>
		  <br>
		  Sponsored by: Abcam
                        <a href="https://www.abcam.com/">
                            <img src="/img/logos/ABCAM.jpg" class="img-responsive" alt="">
                        </a>
	  </div>
  </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse25">
            <div class="timeslot">13:30</div>
Lunch & Student Poster Presentations</a>
      </h4>

    </div>
    <div id="collapse25" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Room 2003 + 2004</i>
			  <li>Poster Session B</li>
		  </ul>
	  </div>
    </div>
  </div>  
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse26">
            <div class="timeslot">15:00</div>
Plenary Address - Immunology & Virology</a>
      </h4>

    </div>
    <div id="collapse26" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li><b>Prof. Jenny Martin</b> - Director & Principal Research Leader at the Griffith Institute for Drug Discovery, Brisbane AUS</li>
		  </ul>
		  <br>
		  Sponsored by: University of Wollongong, Faculty of Science, Medicine and Health

	  </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse27">
            <div class="timeslot">16:00</div>
Student Oral Presentations - Immunology & Virology</a>
      </h4>

    </div>
    <div id="collapse27" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
		  </ul>
		  <b>TBC</b>

	  </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">      

        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse28">
            <div class="timeslot">16:30</div>
Awards Presentation & Closing Address</a>
      </h4>

    </div>
    <div id="collapse28" class="panel-collapse collapse">
      <div class="panel-body">
		  <ul>
			  <i>Location: Auditorium</i>
			  <li><b>Jasmina Markulić</b> - EAPS 2018 Chair</li>
		  </ul>
		  <br>
		  Sponsored by: Translational Research Institute
			<a href="https://www.tri.edu.au/translational-research-institute-australia">
				<img src="/img/logos/tri.png" class="img-responsive" alt="">
			</a>

	  </div>
    </div>
</div>

                                </div>
                            </div>

                        
</ul>

                </div>

            </div>
        </div>

            
    </section>
