<!-- About Section -->
    <section id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programme</h2>
                    <h3 class="section-subheading text-muted">The programme pdf will be available for download here.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Wednesday</h4>
                                    <h4 class="subheading">28th of November</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The symposium begins in Brisbane! Registration, Welcome and Keynote Addresses, as well as the Science and Society Panel.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Thursday</h4>
                                    <h4 class="subheading">29th of November</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The second day of EAPS18. Poster sessions and talks, concluding in the Symposium Dinner.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Friday</h4>
                                    <h4 class="subheading">30th of November</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The final day of the symposium. All remaining talks, posters, and invited speakers, with awards and final remarks finishing by around 5pm.</p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
