<!-- Registration Section -->
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Register</h2>
					<h3 class="section-subheading text-muted">Registration is now open, as of the 12<sup>th</sup> of June!</h3>
                </div>
            </div>
            <div class="register">

              <div class="text-center">
             <a href="https://shop.monash.edu/embl-australia-phd-symposium-registration.html" class="page-scroll btn btn-xl">Register Now!</a>
           </div>

           <h3 class="text-align-left service-heading">Registration Cost</h3>
           <table class="datestable text-align-left table table-striped">

                    <tbody>
                      <tr>
                        <td><b>Early bird</b></td>
                        <td>$85 (by Friday 31<sup>st</sup> August)</td>
                      </tr>
                      <tr>
                        <td><b>Regular registration</b></td>
                        <td>$100 (by Friday 2<sup>nd</sup> November)</td>
                      </tr>
                      <tr>
                        <td><b>Dinner</b></td>
                        <td>$25 (by Friday 2<sup>nd</sup> November)</td>
                      </tr>
                    </tbody>
                  </table>

                <h3 class="text-align-left service-heading">Important Dates</h3>
                  <table class="datestable text-align-left table table-striped">

                    <tbody>
                      <tr>
                        <td><b>Tuesday 12<sup>th</sup> June</b></td>
                        <td>Registration opens</td>
                      </tr>
                        <tr>
                        <td><b>Friday 31<sup>st</sup> August</b></td>
                        <td>Early Bird Registrations & Travel Grant Applications close</td>
                      </tr>
                                              <tr>
                        <td><b>Friday 31<sup>st</sup> August</b></td>
                        <td>Abstract submissions close</td>
                      </tr>
                      </tr>
                      <tr>
                        <td><b>Monday 1<sup>st</sup> October</b></td>
                        <td>Notification of oral presentations and travel grants</td>
                      </tr>
                      <tr>
                        <td><b>Monday 15<sup>th</sup> October</b></td>
                        <td>Notification of poster presentations</td>
                      </tr>
                      <tr>
                        <td><b>Friday 2<sup>nd</sup> November</b></td>
                        <td>Registration closes</td>
                      </tr>
                      <tr>
                        <td><b>Wednesday 28<sup>th</sup> November</b></td>
                        <td>First day of EAPS 2018</td>
                      </tr>
                    </tbody>
                  </table>          
            </div>
         </div>
        </div>
    </section>
