<!-- Team Section -->
    <section id="speakers" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speakers</h2>
                    <h3 class="section-subheading text-muted">Invited speakers at EAPS18.</h3>
                </div>
            </div>
				<div class="team-member">
					<img src="img/team/placeholder.jpg" class="img-responsive img-circle img-speaker" alt="">
					<h4>Professor Ian Frazer</h4>
					<p class="text-muted">Keynote Speaker</p>
				</div>

            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member"  id="{{ member.id }}">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle img-speaker" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.theme }} Speaker</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">As the speakers are yet to be determined, this will be updated when they are confirmed.</p>
                </div>
            </div>
        </div>
    </section>
