<!-- Clients Aside -->
    <section id="sponsors" >
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Sponsors</h2>
                                            <h3 class="section-subheading text-muted">Our sincere thanks to all of our sponsors, without you this event would not be possible.</h3>

                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.tri.edu.au/translational-research-institute-australia">
                            <img src="{{ site.baseurl }}/img/logos/tri_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="http://www.emblaustralia.org/">
                            <img src="{{ site.baseurl }}/img/logos/emblaus_logo.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.sahmri.org/">
                            <img src="{{ site.baseurl }}/img/logos/sahmri_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.csl.com/">
                            <img src="{{ site.baseurl }}/img/logos/csl_logo.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                     <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.monash.edu/discovery-institute/">
                            <img src="{{ site.baseurl }}/img/logos/monash_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="http://www.scientifix.com.au/">
                            <img src="{{ site.baseurl }}/img/logos/scientifix_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.waters.com/">
                            <img src="{{ site.baseurl }}/img/logos/waters_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="http://macrogen.com/en/">
                            <img src="{{ site.baseurl }}/img/logos/macrogen_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.abcam.com/">
                            <img src="{{ site.baseurl }}/img/logos/abcam_logo.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="http://www.coherent.com.au/">
                            <img src="{{ site.baseurl }}/img/logos/coherent_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.qimrberghofer.edu.au/">
                            <img src="{{ site.baseurl }}/img/logos/qimr_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.csu.edu.au/">
                            <img src="{{ site.baseurl }}/img/logos/csu_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.stemcell.com/">
                            <img src="{{ site.baseurl }}/img/logos/stemcell_logo.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://biotools.com.au/">
                            <img src="{{ site.baseurl }}/img/logos/biotools_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.armi.org.au/">
                            <img src="{{ site.baseurl }}/img/logos/armi_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.svi.edu.au/">
                            <img src="{{ site.baseurl }}/img/logos/svi_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.uow.edu.au/index.html">
                            <img src="{{ site.baseurl }}/img/logos/uow_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://sydney.edu.au/">
                            <img src="{{ site.baseurl }}/img/logos/uos_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="http://www.anu.edu.au/">
                            <img src="{{ site.baseurl }}/img/logos/anu_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.unimelb.edu.au/">
                            <img src="{{ site.baseurl }}/img/logos/uom_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="http://www.agrf.org.au/">
                            <img src="{{ site.baseurl }}/img/logos/agrf_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.illumina.com/">
                            <img src="{{ site.baseurl }}/img/logos/illumina_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.aust-biosearch.com.au/">
                            <img src="{{ site.baseurl }}/img/logos/ab_logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class=" col-md-3 col-sm-6 sponsor">
                        <a href="https://www.sirromet.com/">
                            <img src="{{ site.baseurl }}/img/logos/sirromet_logo.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
