<!-- Registration Section -->
    <section id="abstracts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel Grants</h2>
                </div>
            </div>

             <div class="register">

                                To apply for a travel grant, download and submit the Travel Grant Template from the  <a href="https://shop.monash.edu/embl-australia-phd-symposium-registration.html">Monash.Shop registration site</a> when you register. Applicants will be notified if they are successful for a travel grant on Monday 1<sup>st</sup> October.  

              </div>
          
            </div>
         </div>
        </div>
    </section>
