<!-- Registration Section -->
    <section id="register" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome</h2>
                </div>
            </div>
            <div class="welcome">
              <div class="col-lg-12 text-justify">
              The 5th annual European Molecular Biology Laboratory (EMBL) Australia Postgraduate Symposium (EAPS) will be held in late 2018, from November 28<sup>th</sup> - 30<sup>th</sup> at the Translational Research Institute (TRI) in Brisbane.
              </div>
             <div class="col-lg-12 text-justify"></br>
              Entitled “Translational Research: Linking Science and Daily Life”, EAPS 2018 will focus on the on the importance of translatability in basic scientific research and the tools and techniques available to turn basic science discoveries into practical solutions in health and the environment. The Symposium will explore a range of fields, from cellular to systems biology, bioinformatics to neurobiology, virology to ecology with a range of distinguished keynote and plenary speakers, as well as oral and poster presentations from students. The symposium is an excellent opportunity for students to learn from world leading researchers, as well as network with a range of other like-minded students and present their work in a friendly and professional environment.
              </div>
            </div>
         </div>
        </div>
    </section>
