#svg_region {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  top: -20px;
}

.team-member {
	color: #595959;
}

.navbar {
  min-height: 30px;
}

.navbar-brand {
  padding: 5px 5px 5px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
    visibility: visible;
	}
}

@keyframes remove {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
    visibility: visible;
  }
}
