#svg_region {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  top: -20px;
}

.team-member {
	color: #595959;
}

.navbar {
  min-height: 30px;
}

.navbar-brand {
  padding: 5px;
}

.information {
  color:  #595959;
}

@media(max-width:768px) {

  .navbar-fixed-top {
    background-color: rgba(1,1,1,0.6);
  }
  .navbar-brand {
    padding: 12px;
  }


}



.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
    visibility: visible;
	}
}

@keyframes remove {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
    visibility: visible;
  }
}

.social-thing {
  background-repeat:no-repeat;
  background-position: center center;
  background-origin: content-box;
  padding: 8px;
}

a.twitter {
  background-image: url("/img/social/twitter.svg");
}
a.facebook {
  background-image: url("/img/social/facebook.svg");
}
